{% extends 'base.html.twig' %}

{% block title %}Admin | Uploader une topline{% endblock %}

{% block body %}
    <div class="main">
    
	    <div class="">
            <h1 class="">Uploader une topline</h1>
            <div class="">
                {{ include('toplines/_form.html.twig') }}
            </div>
        </div>
        
    </div>
{% endblock %}
