<form method="post" action="{{ path('instru_delete', {'id': instru.id}) }}" onsubmit="return confirm('Confirmer la suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instru.id) }}">
    <button class="btn btn-danger mb-3">Supprimer</button>
</form>
