{% extends 'base.html.twig' %}

{% block title %}KeepVibz | Uploader un morceau{% endblock %}

{% block body %}
    <div class="main">
    
	    <div class="">
		    <div class="">
                <div class="">
			        <h1 class="">Uploader un morceau</h1>
                    <div class="">
                        <div class="">
                            <div class="">
                                {{ include('admin/instru/_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
