{% extends 'base.html.twig' %}

{% block title %}KeepVibz | {{ instru.title }}{% endblock %}

{% block body %}
<section class="instru show">
    <div class="top_content">
        <div class="up_content">{{ asset('uploads/instrus/' ~ instrut.file) }}</div>
        <div class="down_content">
            
        </div>
    
    </div>


</section>
    {{ include('instrus/_delete_form.html.twig') }}
</div>
{% endblock %}
