{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section id="section">
        <iframe src="https://giphy.com/embed/l0ExlfFjuR4NMnEfm" width="100%" height="100%" </iframe></section>
{% endblock %}
