{% extends 'auth-base.html.twig' %}

{% block title %}Inscription prise en compte {% endblock %}

{% block body %}
    <div class="wrap">
        <div class="back-home-link">
            <a class="reset-link" href="{{path('home')}}">Accueil</a>
        </div>
        <div class="container">
            <p>Un e-mail t'a été envoyé. cliques sur le lien fourni pour finaliser ton inscription.</p>
            <p>Si tu ne reçois pas cet e-mail, vérifies tes spam ou <a class="link" href="{{ path('app_register') }}">essayes à nouveau</a>.
        </div>
    </div>
{% endblock %}
