<form method="post" action="{{ path('genre_delete', {'id': genre.id}) }}" onsubmit="return confirm('Confirmer la suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
    <button class="btn btn-danger mb-3">Supprimer</button>
</form>
