{% extends 'admin-base.html.twig' %}

{% block title %}{{annonce.title}}{% endblock %}

{% block body %}
<style>body {color: #fff} .link {color: #A27440} .main {margin-top: 150px}</style>

    <div class="main">
        <div class="container">
            {{ include('annonces/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
            {{ include('annonces/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
