{% extends 'admin-base.html.twig' %}

{% block title %}{{annonce.title}}{% endblock %}

{% block body %}

<style>body {color: #fff} .link {color: #A27440} .main {margin-top: 150px}</style>

    <div class="main">
        <div class="container">
        
        </div>
    </div>
{% endblock %}
