{% extends 'base.html.twig' %}

{% block title %}KeepVibz | Toutes les textes !{% endblock %}

{% block body %}
    <div class="main">
        <div class="section_textes flex sb">
            <div class="content_textes pr bgc">
                <div class="sidebar_textes bgl pa">

                </div>
            </div>

            </div>
        </div>

    </div>
{% endblock %}
