{% extends 'base.html.twig' %}

{% block title %}KeepVibz | Toutes les textes !{% endblock %}

{% block body %}
    <div class="main">
        <div class="section_textes flex sb">
            <div class="content_textes pr">
                    <h2 class="title_textes">Textes</h2>
                    <div class="block_all_textes flex col">
                        <a class="link_text flex" href="#">
                            <li class="block_textes flex">
                                <div class="avatar_image_block">
                                    <img src="{{asset('assets/images/icons/avatar.png')}}" alt="avatar du User" class="avatar_image">
                                </div>
                                <div class="description_textes">
                                    <h3 class="title_texte">Titre</h3>
                                    <h3 class="author_textes">Auteur</h3>
                                </div>
                                <div class="instrus_associees">
                                    <ul class="block_instrus_associees">
                                        <li class="link_instru_associee"><a href="#"></a></li>
                                        <li class="link_instru_associee"><a href="#"></a></li>
                                    </ul>
                                </div>
                            </li>
                        </a>
                    </div>
            </div>

            </div>
        </div>

    </div>
{% endblock %}
