/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:after,*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clear:before,.clear:after {
  content:' ';display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
a{text-decoration: none;}

/* CSS PERSO */

.flex {display:flex;}
.col {flex-direction: column;}
.row {flex-direction: row;}
.fs {justify-content: flex-start;}
.fe {justify-content: flex-end;}
.jcc {justify-content: center;}
.sa {justify-content: space-around;}
.sb {justify-content: space-between;}
.fw {flex-wrap: wrap;}
.cv {margin: auto;} 
.acc {align-content: center;}
.aic {align-items: center;}
.aifs {align-items: flex-start;}
.aife {align-items: flex-end;}
.tac {text-align: center;}
.w100 {width: 100%;}
.w50 {width: 50%;}
.w33 {width: 33.333333%;}
.w25 {width: 25%;}
.bgc {background-color: rgb(10, 168, 186);}
.bgl {background-color:lime;}
.pr {position: relative;}
.pa {position: absolute;}
.tcv {transform: translateY(-50%); top: 50%;}
.tch {transform: translateX(-50%); left: 50%;}
.tchv {top: 50%; left: 50%; transform: translate(-50%, -50%);}
.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}


/* FIN DE CLASS PERSO */

body{position:"relative"; font-family: 'Squada One', cursive; letter-spacing: 3px; background-color: black; font-weight: 500; padding: 0 20px;}
h1{position: absolute; left: -50000px;}

/* HEADER */
#header{background-color: #000;}
.wrap1{height: 77px; max-width: 1300px; width: 100%; margin: 0 auto;}
a{color: #fff;}
.img_logo{height: 60px; margin-top: 10px;}
.navigation{margin-top: 30px;}
.navigation li{margin-left: 20px;}
.navigation li a:hover{padding-bottom: 5px ;border-bottom: 2px solid #A27440}
.right{margin-top: 30px;}
.right :first-child:hover{padding-bottom: 5px ;border-bottom: 2px solid #A27440}
.right :nth-child(2){border: 1px solid transparent; margin-left: 20px; background-color: #A27440; padding: 14px; border-radius: 4px;}
.right :nth-child(2):hover{background-color: transparent; color:#A27440; border: 1px solid #fff; }
.wrap2{max-width: 1300px; width: 100%; margin: 0 auto 20px auto;}
.search{position: relative;}
.icon_search{
    position: absolute;
    left: 18px;
    top: 14px;
    height: 19px;
}
.search input{background: #3d3c3c; height: 48px; width: 34vw; outline: none; border-radius: 30px; border: none; color: #fff; font-family: 'Squada One', cursive; letter-spacing: 3px; padding: 0px 100px 0px 50px;}
.search .btn_search{
    position: absolute;
    height: 48px;
    width: 70px;
    left: 28vw;
    top: 0px;
    border: none;
    background: transparent;
    z-index: 2;
    font-weight: 400;
    font-family: 'Squada One', cursive;
    letter-spacing: 3px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;

}
.icon_arrow{
    position: absolute;
    left: 32.5vw;
    top: 20px;
    height: 13px;
    cursor: pointer;
}
.block_filters{position: absolute ; background-color: #3d3c3c; padding: 8px 13px; border-radius: 4px; z-index: 2; left: 28vw; top: 55px; display: none;}
.filter{color: #fff; font-weight: 400; margin: 15px 0;}
/* HEADER */


/* SECTION 1 */

.wrap3{max-width: 1300px; width: 100%; margin: 0 auto 20px auto;}

/* LECTEUR AUDIO */
.player {
    margin: 1rem;
    padding: 0.5rem;
}
.player h2.latest_upload{
    color: lightgrey;
    font-size: 28px;
    padding-left: 0.5rem;
    margin-bottom: .5rem;
}
.player audio {
    width: 20%;
}
.player audio::-webkit-media-controls-panel {
    background: transparent;
}
.player audio::-webkit-media-controls-time-remaining-display {
    color: grey;
}
.player audio::-webkit-media-controls-current-time-display {
    color: cornflowerblue;
}
.player audio::-webkit-media-controls-play-button, .player audio::-webkit-media-controls-mute-button {
    cursor: pointer;
}
/* LECTEUR AUDIO */

/* FIN SECTION 1 */

/* SECTION 2 */
.wrap4{max-width: 1300px; width: 100%; margin: 0 auto;}
h2{
    color: lightgrey;
    font-size: 28px;
    margin-bottom: .5rem;
}
.block_download{width: 18%;}
.img_downloaded{width: 100%;}
.date_ajout_downloaded, .genre_downloaded,.description_downloaded{
    color: #A27440;
    padding-left: 0.5rem;
    margin-top: .4rem;
}
.span_downloaded{color: #fff;}

/* FIN SECTION 2 */

