/*
|-------------------------------------
| PRESET
|-------------------------------------
*/
@import "preset.scss"; 
@import "form.scss";
/*
|-------------------------------------
| STYLE
|-------------------------------------
*/

.full-height {
	height: 100%; 
}

body {
    background: $theme;
    color: $font-primary;
	.auth {
		font-family: 'Squada One', cursive; 
		letter-spacing: 3px;
		margin-top: -50px;
		.social-nav a {
			color: $font-primary;
			text-decoration: none;
			font-weight: bold;
			font-size: 14px;
		}
		h1 {
			text-align: center;
			font-size: 35px;
			color: $font-secondary;
			font-weight: bold;
			padding: 20px 0;
		}
		.wrap {
			max-width: 600px;
			width: 95%;
			margin: 0 auto;
		} 
		.container .wrap {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
		footer {
			.wrap {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				img {
					width: 100%;
				}
				.social-nav ul {
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					align-items: center;
					li {
						a:hover {
							background: $font-secondary;
							border-radius: 15px 5px 15px 5px;
						}
						a {
							font-size: 20px;
							transition: all .4s;
							padding: 8px;
						}
					}
				}
			}
		}
	}
}
