/*
|-------------------------------------
| VARIABLES THEMES
|-------------------------------------
*/
$theme: #000;
$font-primary: #fff;
$font-secondary: #A27440;

/*
|-------------------------------------
| RESET
|-------------------------------------
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:after,*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.clear:before, .clear:after {
  content: ' ';
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
/*
|-------------------------------------
| STYLE
|-------------------------------------
*/
@font-face {
    font-family: 'Bebas-Neue-Light';
    src:url('fonts/Bebas-Neue-Light.ttf.woff') format('woff'),
        url('fonts/Bebas-Neue-Light.ttf.svg#Bebas-Neue-Light') format('svg'),
        url('fonts/Bebas-Neue-Light.ttf.eot'),
        url('fonts/Bebas-Neue-Light.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
.full-height {
	height: 100%; 
}
body {
    background: $theme;
    color: $font-primary;
	.auth {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		font-family: 'Bebas-Neue-Light', cursive; letter-spacing: 3px;
		a {
			color: $font-primary;
			text-decoration: none;
			font-weight: bold;
			font-size: 14px;
		}
		h1 {
			text-align: center;
			font-size: 35px;
			color: $font-secondary;
			font-weight: bold;
			padding: 20px 0;
		}
		.wrap {
			max-width: 600px;
			width: 95%;
			margin: 30px auto;
		} 
		.container .wrap {
			display: flex;
			flex-direction: column;
			height: 100%;
				form {
					.pass-group {
						display: flex;
						justify-content: space-between;
						flex-flow: row wrap;
						align-items: center;
						.input-group {
							width: 48%;
						}
					}
					.input-group {
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						padding: 10px 0;
						a {
							color: $font-secondary;
						}
						label, p {
							font-size: 14px;
							padding: 5px 0;
							.checkbox-label {
								padding-left: 15px;
								font-size: 14px;
							}
							span {
								display: inline-block;
								font-size: 16px;
								margin-right: 10px;
							}
						}
						input, button {
							background: #3d3c3c; 
							outline: none; 
							border-radius: 3px; 
							border: none; 
							color: $font-primary; 
							font-family: 'Bebas-Neue-Light', cursive; 
							letter-spacing: 3px; 
							padding: 10px 0 10px 10px;
						}
						// custom checkbox
						.container {
							display: flex;
							align-items: center;
							position: relative;
							padding-left: 20px;
							margin-bottom: 12px;
							cursor: pointer;
							font-size: 22px;
							-webkit-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;
						}
						.container input {
							position: absolute;
							opacity: 0;
							cursor: pointer;
							height: 0;
							width: 0;
						}
						.checkmark {
							position: absolute;
							left: 0;
							height: 18px;
							width: 18px;
							background-color: transparent;
							border: 2px solid $font-secondary;
						}
						.container input:checked ~ .checkmark {
							background-color: $font-secondary;
						}
						.checkmark:after {
							content: "";
							position: absolute;
							display: none;
						}
						.container input:checked ~ .checkmark:after {
							display: block;
						}
						.container .checkmark:after {
							left: 5px;
							top: 1px;
							width: 5px;
							height: 10px;
							border: solid $font-primary;
							border-width: 0 3px 3px 0;
							-webkit-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							transform: rotate(45deg);
						}
						.btn-primary {
							background: $font-secondary;
							text-transform: uppercase;
							padding: 8px 20px;
							margin: auto;
							cursor: pointer;
							border: 1px solid $font-secondary;
							transition: all .3s;
							border-radius: 2px; 
							font-size: 16px;
							height: 36px;
							line-height: 36px;
							padding: 0 16px;
							font-weight: bold;
						}
						.btn-primary:hover {
							background: transparent;
							color: $font-secondary
						}						
					}
					.invalid-feedback.d-block {
						border: 1px rgb(196, 1, 1) solid;
						display: inline-block;
						color: rgb(196, 1, 1);
						border-radius: 3px;
						padding: 5px 10px;
						margin: 8px 0;
						font-weight: bold;
						font-size: 14px;
					}
					small {
						font-size: 65%;
					}
				}
			.reset-link {
				color: $font-secondary;
			}
		}
		footer {
			.wrap {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				img {
					width: 100%;
				}
				.social-nav ul {
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					align-items: center;
					li {
						a:hover {
							background: $font-secondary;
							border-radius: 15px 5px 15px 5px;
						}
						a {
							font-size: 20px;
							transition: all .4s;
							padding: 8px;
						}
					}
				}
			}
		}
	}
}
/*
|-------------------------------------
| RESPONSIVE
|-------------------------------------
*/
@media screen AND (max-width: 900px) {
	body .auth .container .wrap form .pass-group .input-group {
		width: 100%;
	}
}