.title_page{font-size: 2.5em; color: #A27440; margin-bottom: 40px;}
.wrap-faq{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 28px;
    margin-top: 146px;
}
.wrap-faq p{
    color: white;
    font-size: 1em;
    padding-bottom: 6px;

}
.wrap-faq h4{ 
    font-size: 1.5em;
    color: #A27440;
}

.btn_faq{width: 10px; cursor: pointer;}
.btn_faq:hover{opacity: .5;}

.submenu_center3,
.submenu_center4,
.submenu_center5,
.submenu_center6,
.submenu_center7,
.submenu_center8,
.submenu_center9{display: none;}

@media screen and (max-width: 660px){
    .wrap-faq h4{font-size: 1.3em;}
  }
  
@media screen and (max-width: 615px){
    .wrap-faq{margin-top: 85px;}
  }
  
