.form-wrap {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    .form-container {
        width: 90%;
        margin: 0 auto;
    }
}
form {
    .pass-group {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;
        .input-group {
            width: 48%;
        }
    }
    .input-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px 0;
        div {
            display: flex;
            flex-flow: row wrap;
            .form-check {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;
                .form-check-label {
                    text-indent: 7px;
                }
            }
        }
        label, p {
            font-size: 14px;
            padding: 5px 0;
            .checkbox-label {
                padding-left: 15px;
                font-size: 14px;
            }
            span {
                display: inline-block;
                font-size: 16px;
                margin-right: 10px;
            }
        }
        input, textarea, select {
            background: #3d3c3c; 
            outline: none; 
            border-radius: 3px; 
            border: none; 
            color: $font-primary; 
            font-family: 'Squada One', cursive; 
            letter-spacing: 3px; 
            padding: 10px 0 10px 10px;
        }
        // custom checkbox
        .checkbox-container {
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 20px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .checkbox-container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .checkmark {
            position: absolute;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: transparent;
            border: 2px solid $font-secondary;
        }
        .checkbox-container input:checked ~ .checkmark {
            background-color: $font-secondary;
        }
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        .checkbox-container input:checked ~ .checkmark:after {
            display: block;
        }
        .checkbox-container .checkmark:after {
            left: 5px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid $font-primary;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }						
    }
    .error {
        border: 1px $danger-error;
        display: inline-block;
        color: $danger-error;
        border-radius: 3px;
        padding: 5px 10px;
        margin: 8px 0;
        font-weight: bold;
        font-size: 14px;
    }
    small {
        font-size: 80%;
    }
}