/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:after,*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clear:before,.clear:after {
  content:' ';display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
a{text-decoration: none;}

/* CSS PERSO */

.flex {display:flex;}
.col {flex-direction: column;}
.colrev {flex-direction:column-reverse;}
.row {flex-direction: row;}
.fs {justify-content: flex-start;}
.fe {justify-content: flex-end;}
.jcc {justify-content: center;}
.sa {justify-content: space-around;}
.sb {justify-content: space-between;}
.jcfs {justify-content: flex-start;}
.jcfe {justify-content: flex-end;}
.fw {flex-wrap: wrap;}
.cv {margin: auto;} 
.acc {align-content: center;}
.aic {align-items: center;}
.aib {align-items: baseline;}
.ais {align-items: stretch;}
.aifs {align-items: flex-start;}
.aife {align-items: flex-end;}
.tac {text-align: center;}
.w100 {width: 100%;}
.w50 {width: 50%;}
.w33 {width: 33.333333%;}
.w25 {width: 25%;}
.bgc {background-color: rgb(10, 168, 186);}
.bgl {background-color:lime;}
.red {background-color:red;}
.pr {position: relative;}
.pa {position: absolute;}
.tcv {transform: translateY(-50%); top: 50%;}
.tch {transform: translateX(-50%); left: 50%;}
.tchv {top: 50%; left: 50%; transform: translate(-50%, -50%);}
.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}


/* FIN DE CLASS PERSO */



/* PAGE TOUTES INSTRUS */
.main_instrus{width: 100%; max-width: 1300px; margin: 0 auto; padding: 0 20px; background-color: #000; }
.section_instrus{margin-top: 146px;}
.sidebar_instrus{top: 20px; border-radius: 20px; background-color: #3d3c3c; padding: 10px 20px 20px 20px;
}
.right_content{width: 80%; float: right; margin-top: 20px;}
.title_instrus{color: #fff; font-size: 2em; float: left; padding-bottom: 20px;}
.content_download_instrus {width: 19%; margin-bottom: 50px;}
/* .img_downloaded{width: 100%;} */
.genre{margin: 10px 0px 30px 0px;}
.title_instrus_genre, .title_instrus_keys{color: #fff; font-size: 1.4em; margin-bottom: 10px;}

.select {
  position: relative;
  display: flex;
  width: 170px;
  height: 30px;
  line-height: 2.2;
  background-color: #000;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
  /* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  /* padding: 0 1em; */
  background: #fff;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
option{background-color: #3d3c3c; border: none;}
  /* Transition */
.select:hover::after {color: #828282;}

.nav_bottom2 li a{color: #9f9f9f;}
.nav_bottom2 li a:hover{opacity: .6;}
.left_block_statistiques{margin-right: 15px;}
.visites, .posts, .membres, .en_ligne {color: #fff; font-size: .8em; margin-bottom: 3px;}
.number{color: #9f9f9f; margin-bottom: 3px;}
.block_genre{display: none;}
.submenu_genre{ background-color: transparent; padding: 0px 20px 5px 20px;}
.btn_genre{margin-left: 21px; height: 10px; cursor: pointer;}
.btn_genre:hover{opacity: .4;}
.bouton_filter{background-color: transparent; margin-top: 20px; border: none;}
.bouton_filter:hover{opacity: .7; cursor: pointer;}
.bouton_filter:active{transform: scale(1.2);}
.img_bouton_filter{height: 40px; width: 40px;}
/* .img_bouton_filter:hover{opacity: .7; cursor: pointer;} */

/* PAGE TOUTES INSTRUS */


/* PAGE SHOW INSTRUS */
.wrap1_instrus_show{max-width: 1300px; width: 100%; margin: 0 auto;}
.wrap2_instrus_show{max-width: 1300px; width: 100%; margin: 0 auto; padding: 0 20px;}
/* TOP */
.instru_show{margin-top: 146px;}
.top_content_instrus_show{padding-top: 30px;}
.top_container_show{background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(74,67,75,1) 0%, rgba(68,56,70,1) 6%, rgba(51,27,56,0.9611441988904937) 45%); padding-bottom: 50px; border-bottom: 1px solid hsla(0,0%,100%,.12);}
.up_content_img{width: 200px;}
.image_content_show_instru{width: 100%;}
.title_content_show_instru,.bpm_content_show_instru ,.name_author_content_show_instru, .genre_content_show_instru, .key_content_show_instru{color: #fff;}
.title_content_show_instru{margin: 5px 0px 0px 9px; font-size: 24px;}
.down_content {margin-top: 10px;}
.author_content_show_instru{color: #828282; margin-top: 10px;}
.details_content_show_instru{margin: 8px 2px 0px 0px; margin-top: 20px;}
.genre_separator{color: #828282; }
.bpm_content_show_instru{margin-left: 4px;}
.bpm_show_instru{color: #828282; margin-right: 4px;}
.key_content_show_instru{margin-left: 2px;}
.bottom_content{border-top: 1px solid #3d3c3c; width: 100%;}
.title_others_instrus_author, .user_others_instrus_author, .name_others_instrus_author, .separator_others_instrus_author, .bpm_others_instrus_author, .nombre_lecture_others_instrus_author{color: #fff;}
.btn_play_caroussel_show_instrus{z-index: 3; height: 36px; width: 36px;}
.btn_play_caroussel_show_instrus:hover{opacity: .5;}
.btn_play_caroussel_show_instrus:active {transform: scale(120%) ;}
.img_play_caroussel{width: 100%;}

.details_content_show_instru {padding: 0 20px;}

.block_link_items_associes{margin-top: 20px;}
.first_autres_instrus{cursor: pointer ;margin: 0 20px ;background-color: #3d3c3c; border-radius: 8px; padding: 15px;
  -webkit-box-shadow: inset 1px 0px 26px 5px #000000; 
  box-shadow: inset 1px 0px 26px 5px #000000; font-size: .8em;
  display: none;
}

.second_textes{cursor: pointer ;margin: 0 20px ;background-color: #3d3c3c; border-radius: 8px; padding: 15px;
  -webkit-box-shadow: inset 1px 0px 26px 5px #000000; 
  box-shadow: inset 1px 0px 26px 5px #000000; font-size: .8em;}

.third_topline{cursor: pointer ;margin: 0 20px ;background-color: #3d3c3c; border-radius: 8px; padding: 15px;
  -webkit-box-shadow: inset 1px 0px 26px 5px #000000; 
  box-shadow: inset 1px 0px 26px 5px #000000; font-size: .8em;}
  
.first_autres_instrus:hover{opacity: .7;} 
.second_textes:hover{opacity: .7;}
.third_topline:hover{opacity: .7;}

/* BOTTOM */
.others_instrus_author{ padding: 9px 10px; margin-bottom: 20px;}
.others_instrus_author:hover{ background-color: #313030; border-radius: 4px; }
.right_others_topline_author{margin-left: 20px;}

.btn_play_hover{width: 30px;}
.block_image_instru_author{ width: 60px; border: none; margin: 0 20px 0px 15px;}
.img_instru_author{width: 100%; border-radius: 5px;}
.bottom_right_others_instrus_author{margin-top: 5px;}
.title_others_instrus_author{font-size: 18px;}
.name_others_instrus_author, .bpm_others_instrus_author, .{color: #fff; font-size: 14px;}
.grey_text{color: #828282; font-size: 14px;}

.bottom_autres_instrus_show{margin-top: 30px;}
.bottom_textes_associees_show{display: none; margin-top: 30px;}
.bottom_toplines_associees_show{display: none; margin-top: 30px;}

/* BOUTON DOWNLOAD */
.top_right_others_instrus_author{right: 20px;}
.top_right_others_instrus_author:hover{cursor: pointer;}
.top_show_instru_downloading{position: absolute; bottom: 7px; right: 41px ;height: 20px; width: 20px; background-color: #2c2a2a; border-radius: 4px; padding: 15px; }
.top_show_instru_downloading:hover{background-color: #A27440;}
.top_show_instru_downloading:active{transform: scale(120%) }
.block_downloading{height: 20px; width: 20px; background-color: #2c2a2a; border-radius: 4px; padding: 15px; }
.block_downloading:hover{background-color: #A27440;}
.block_downloading:active{transform: scale(120%) }
.image_downloading{width: 100%; z-index: 3; height: 20px; width: 20px;}
/* PAGE SHOW INSTRUS */









@media screen and (max-width: 1315px){
    .sidebar_instrus{ display: none;}
    .right_content{width: 100%;}
}


@media screen and (max-width: 1125px){
  .content_download_instrus{width: 23%;}
}


@media screen and (max-width: 1000px){
  .content_download_instrus{width: 31%;}
}


@media screen and (max-width: 770px){
  .content_download_instrus{width: 48%;}
  .others_instrus_author{flex-direction: column;}
  .right_others_instrus_author{margin-top: 10px;}
  .right_others_topline_author{margin-left: 0px;}
  .top_right_others_instrus_author, .bottom_right_others_instrus_author {text-align: center;}
}



@media screen and (max-width: 615px){
  .section_instrus{margin-top: 85px;}
  .instru_show{margin-top: 85px;}
}

@media screen and (max-width: 490px){
  .content_download_instrus{width: 100%;}
}





