/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:after,*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clear:before,.clear:after {
  content:' ';display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
a{text-decoration: none;}

/* CSS PERSO */

.flex {display:flex;}
.col {flex-direction: column;}
.colrev {flex-direction:column-reverse;}
.row {flex-direction: row;}
.fs {justify-content: flex-start;}
.fe {justify-content: flex-end;}
.jcc {justify-content: center;}
.sa {justify-content: space-around;}
.sb {justify-content: space-between;}
.jcfs {justify-content: flex-start;}
.jcfe {justify-content: flex-end;}
.fw {flex-wrap: wrap;}
.cv {margin: auto;} 
.acc {align-content: center;}
.aic {align-items: center;}
.aib {align-items: baseline;}
.ais {align-items: stretch;}
.aifs {align-items: flex-start;}
.aife {align-items: flex-end;}
.tac {text-align: center;}
.w100 {width: 100%;}
.w50 {width: 50%;}
.w33 {width: 33.333333%;}
.w25 {width: 25%;}
.bgc {background-color: rgb(10, 168, 186);}
.bgl {background-color:lime;}
.red {background-color:red;}
.pr {position: relative;}
.pa {position: absolute;}
.tcv {transform: translateY(-50%); top: 50%;}
.tch {transform: translateX(-50%); left: 50%;}
.tchv {top: 50%; left: 50%; transform: translate(-50%, -50%);}
.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}


/* FIN DE CLASS PERSO */
body{position:"relative"; font-family: 'Squada One', cursive; letter-spacing: 3px; background-color: black; font-weight: 500; }
h1{position: absolute; left: -50000px;}



/* PAGE textes */
.main{width: 100%; max-width: 1300px; margin: 0 auto; padding: 0 20px; background-color: #000; }
.section_textes{margin-top: 146px;}
.content_textes{width: 100%; height: 100vh;}
.sidebar_textes{height: 400px; width: 200px; top: 20px; left: 20px; border-radius: 20px;}

/* PAGE textes */




@media screen and (max-width: 615px){
    .section_textes{margin-top: 85px;}
}
  




