{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <div class="btn-section">
        <button class="btn btn-primary">{{ button_label|default('Envoyer') }} <span><i class="fas fa-paper-plane"></span></i></button>
    </div>
{{ form_end(form) }}
