{% extends 'base.html.twig' %}

{% block title %}KeepVibz | Contact{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user-profile') }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrap-contact"> 
        <section class="contact">

            {% for message in app.flashes('success') %}
                <div class="success">
                    {{ message }}
                </div>
            {% endfor %}
        
            <h2>Nous Contacter</h2>

            {{ include('contact/_form.html.twig') }}

        </section>
    </div>
</div>
{% endblock %}
